@model GestorPrestamos.ViewModels.LoansToCollectHomeViewModel

@{
    ViewData["Title"] = "LoansToCollectIndex";
}

<h1>LoansToCollectIndex</h1>

<div>
    <h4>LoansToCollectHomeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountToBeCollected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountToBeCollected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCollectedLoans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCollectedLoans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfLoansToCollect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfLoansToCollect)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
    <thead>
        <tr>
            <th>
                A
            </th>
            <th>
                 A
            </th>
            <th>
    A
            </th>
            <th>
                  A
            </th>
            <th>
                   A
            </th>
            <th>
                A
            </th>
            <th>
                   A
            </th>
            <th>
                  A
            </th>
            <th>
                   A
            </th>
            <th>
                A
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LoansToCollect) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Debtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartialRefund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDebt)
            </td>
            <td>
                @Html.ActionLink("More", "Info","LoanReceivable", new { id= item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
</div>
